<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Pastelaria do zé</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.4.2-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2/dist/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login/style.css') }}">

    {% block style %}{% endblock %}
    <style>
        .important {
            color: #6495ED;
        }
    </style>
</head>

<body>
    <!-- {% if request.args.get('msg'): %}
    <h3>{{ request.args.get('msg') }}</h3>
    <br>
    {% elif msg: %}
    <h3>{{ msg }}</h3>
    <br>
    {% elif request.args.get('msgErro'): %}
    <h3>{{ request.args.get('msgErro') }}</h3>
    <br>
    {% elif msgErro: %}
    <h3>{{ msgErro }}</h3>
    <br>
    {% endif %}
     -->
  
    {% block content %}{% endblock %}

    <script type="text/javascript">
        var PATH = "";
        var Helpers = {};
    </script>

    <script src="{{ url_for('static', filename='jquery/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery.mask.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery.maskMoney.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='helpers/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome-free-6.4.2-web/js/all.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert2/dist/sweetalert2.min.js') }}"></script>

    <!-- redirect - request.args.get('msg' ou 'msgErro') -->
    {% if request.args.get('msg'): %}
    <script>
        Swal.fire("Sucesso", "Registro salvo com sucesso", "success");
    </script>
    {% elif request.args.get('msgErro'): %}
    <script>
        Swal.fire("Erro", "Ocorreu um erro ao salvar o registro. Erro: {{ request.args.get('msgErro') }}", "error");
    </script>
    <!-- render_template - msg ou msgErro -->
    {% elif msg: %}
    <script>
        Swal.fire("ID {{ msg.id }}, {{ msg.msg }} ", "{{ msg }}", "success");
    </script>
    {% elif msgErro: %}
    <script>
        Swal.fire("{{ msgErro.msg if msgErro.msg else 'Erro' }}", "{{ msgErro }}", "error");
    </script>
    {% endif %}

    {% block js %}{% endblock %}
</body>


</html>