{% extends "base.html"%}

{% block title %}Home{% endblock %}

{% block content %}

    <h1 class="montserrat-bold">Home</h1>
    <p class="important">
    {% if 'login' in session %}
        Bem-vindo <b>{{ session['login'] }}</b> <br>
        grupo: <b>{{ session['grupo'] }}</b>
    {% endif %}
    </p>

    <ul>
        <li><a href="{{ url_for('index.formIndex') }}">Home</a></li>
        <li><a href="{{ url_for('funcionario.formListaFuncionario') }}">Funcionario</a></li>
        <li><a href="{{ url_for('cliente.formListaCliente') }}">Cliente</a></li>
        <li><a href="{{ url_for('produto.formListaProduto') }}">Produto</a></li>

    </ul>

{% endblock %}